include LICENSE
include README.md
include config.py
recursive-include ./bin *
prune *.pyc
recursive-include fab_addon_magdemo_api/static *
recursive-include fab_addon_magdemo_api/templates *
recursive-include fab_addon_magdemo_api/translations *
