.idea/
.DS_Store
*.pyc
app.db
env
venv
*.sublime*
keycloak_config.json
#config.py
provisioning/*.dev.yml
provisioning/docker-compose.yml
provisioning/launch.sh
provisioning/docker-compose-stack.gcp.yml
imgs
test
alembic
shcripts/dev_db_init.sh
shcripts/dev_db_migrate.sh
shcripts/dev_db_upgrade.sh
/migrations/versions/*
/app/dq_checks-data/
/app/ferris.apps.web-data/
__pycache__/
