{% extends base_template %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-lg-12 text-center welcome-message">
                <h2>
                    {{ appbuilder.app_name }}
                </h2>
                <div class="row">
                    <a href="/login" class="btn-lg btn-primary" style="display: block; margin: 50px auto; width: 200px;">Log In</a>
                </div>

            </div>
        </div>
    </div>

    <style>

    </style>
{% endblock %}