<div class="modal fade hmodal-info" id="generic-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default submit-approval" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(".view-comment").on("click", function () {
        $("#generic-modal .modal-header").text($(this).data("title"));
        $("#generic-modal .modal-body").html($(this).data('content'));
    });


</script>

<style>
    #json-modal-body textarea.empty {color: transparent;}
</style>